head{


    background-color:rgb(16, 19, 245);
    }
p{
    font-size: 25px;

}
h1{
    
    background-color:  rgba(209, 199, 247, 0.473);
    font-size: 40px; 
    font-style: unset
    
     
}


body{
    background-color: rgba(12, 29, 105, 0.63);
    color:rgba(52, 32, 230, 0.726)
}

button{
    font-size: 20px; 

}

h2{
    background-color: rgba(209, 199, 247, 0.473);
    font-size: 20px; 
    font-style: Broadway 
}

h3{
   
    background-color: rgba(209, 199, 247, 0.473);
    font-size: 20px; 
    font-style:Broadway
}

.main-holder {
    max-width: 650px;
    margin: 0 auto;
}

  




