head{


    background-color:rgb(16, 19, 245);
    }
p{
    font-size: 25px;

}
h1{
    
   
    font-size: 40px; 
    font-style: unset
    
     
}


body{
    background-color: rgba(82, 205, 214, 0.993);
    color:rgba(4, 15, 112, 0.726)
}

button{
    font-size: 20px; 
    color:rgb(116, 33, 199)
    


}

h2{
    background-color:
    font-size: 20px; 
    
}

h3{
   
    background-color:
    font-size: 20px; 
    
}

.main-holder {
    max-width: 650px;
    margin: 0 auto;
}

button{
    background-color:rgba(255, 255, 255, 0.397);
    /*definimos a largura do box*/
    widows: 8px;0px;
    /* definimos a altura do box */
    height:28px;
    /* definimos a cor de fundo do box */
    
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 26px;
    }
    
select{
    
    background-color:rgba(255, 255, 255, 0.397);
    /*definimos a largura do box*/
    widows: 20px;2px;
    /* definimos a altura do box */
    height:38px;
    /* definimos a cor de fundo do box */
    
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 30px;
    
    font-size: 20px; 
    color:rgb(116, 33, 199)
    

}
   /* centralizar*/

  

  




