



body{
    background: url('../jpg/fundonovo1.jpg') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img {
    max-width: 100%;
 }
 @media screen and (max-width: 1024px) {
    /*estilos*/
 }

 .container {
    max-width: 1128px;
    margin: 0 auto;
 }
 .clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.clearfix {
   *zoom: 1;
}
img,
picture,
video,
embed {
   max-width: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
 .header {
    width: 100%;
    height: 48px;
    margin-top: 3.6em;
    margin-bottom: 3.6em;
 }
 .menu {
    width: 74.468085106383%; /*840px / 1128px */
    float: right;
 }
 .banner {
    background: url('../img/banner.jpg');
    height: 450px;
    margin-bottom: 4.8em;
    position: relative;
 }
 .caixa {
    width: 42.553191489362%; /* 264px / 1128px */
    padding: 2.4em 4em 2.4em 4em;
    position: absolute;
    top: 48px;
    background: rgba(0,0,0,0.6);
 }
 .coluna {
    width: 23.404255319149%; /* 264px / 1128px */
    margin-right: 2.127659574468%; /* 24 / 1128px */
 float: left;
 }
 
 .coluna:last-child {
    margin-right: 0;
 }

 @media screen and (max-width: 1128px) {
    .container {
       padding: 0 2.4em 0 2.4em;
    }
    }
    @media screen and (max-width: 768px) {
        .caixa {
           width: 65%;
        }
        }
body {
    font-size: 62.5%;
 }
  .centralizartexto{
      text-align: center;

  }

.a{
    text-align: center;
    
}
  
  .cardfundo{
      background: black;
  }
  /* center no repeat fixed imagem irá se ajustar automaticamente ao tamanho da tela*/



  .containerimg {
    
    position:relative;  /*agora poderá ser absolutamente posicionado em relação a parte inferior de seu ancestral*/ 
    
    left: 150px; /* posiciona a 90px para a esquerda */ 
    top: -60px; /* posiciona a 70px para baixo */
    right: -200px;
    bottom: 0; 
    
    
  }
  .containerimg2 {
    
    
    position: absolute;
    left: 300px; /* posiciona a 90px para a esquerda */ 
    top: -60px; /* posiciona a 70px para baixo */
    right: -200px;
  /*  bottom: 0; */ 
    
    
  }
.centertextemmmm{


    text-align: center;/* centraliza tudoo */
    position: auto;
}





  
  #image {
    position: absolute;

  }
  
  #textoimg {
    position: absolute;
    font-size: 32px;
    left: 250px;
    top: 135px;
    
  }
    
.textobranco{
        
    color: white;
    font-style: italic;

}
.roxo{
        
    color: rgb(134, 47, 248);
    font-style: italic;

}

.distancia3{ 
    margin-top: 0.7cm;
}
.distancia4{ 
    margin-top: 3.0cm;
}
.distancia8{ 
    margin-top: 1.5cm;
}
.distancia2{ 
    margin-top: 0.7cm;
}
.distancia{ 
    margin-top: 5cm;
 }
 .centralizarT{
    position:absolute; 
    top:20%;
    left:35%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 80px;
 }
 .linkhtml {
    color:white;
    font-size: 40px; 
    font-style:Harry P;  
}

testeeeefooter3 {
    position:absolute;
    background-color: rgba(27, 27, 27, 0.747);
    
    position:absolute;
    bottom:0;
    width: 0%;
    height:0px;
  
    box-shadow: 0px 0px 10px black;
}
.center {
    margin: 0 auto !important;
    float: none !important;
}


//body, html {
    position: absolute;    
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

//section {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: whitesmoke;
    top: 40px;
    bottom: 40px;
    width: 100%;
    overflow: auto;    
    z-index: 0;
}

// teste section #container {
    position: absolute;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    margin: auto;
    width: 400px;
    min-height: 100%;
    right: 0px;
    left: 0px;
}

// teste #rodape {
    width: 100%;
    height: 50px;
    
    position: absolute;
    background-color: rgba(27, 27, 27, 0.699);
    height: 100px;
    width: 50%;
    bottom: 0;
    box-shadow: 0px 0px 10px black;
    z-index: 1;


}
#tela{
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
    

.footer3 {
    
    position:absolute; 
        bottom:0;
        width:100%;
        height:100px;   /* Mesma Altura do Rodapé */
        background:#6cf;
     
 }

 .junto{
    position:fixed;
    width:100%;
    height:100px;  
    
 }
.rodape {
        position: absolute;
        bottom: 0;
        width:100%;
        height:100px; 
        }
 
        .textoblack{
        
            color: black;
            
        
        }

        @charset "UTF-8";
  /* =CSS Reset */
  /* https://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  *, html,  {
      margin:0;
      padding:10;
      }
  ... /* mais regras CSS reset */
  
  /* regra para o box-sizing */
  *, *:before, *:after {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
  }
  /* regra para o clear float */
  .cf:before,
  .cf:after {content: " ";display: table;}
  .cf:after {clear: both;}
  .cf {*zoom: 0;}
  

      #lateral {
        padding:300 100px 100 0;
        -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
       
      
        
        width:370px; 
        position:fixed;
        top:0;
        left:-320px;
        }
    #lateral:before {
        z-index:800;
      
        font-size:4em;
      
        position:fixed;
        left:5px;
        top:45px;
        }
    #lateral:hover:before, #lateral:focus:before {
    left:-800px
        }
    #lateral:hover, #lateral:focus,  #lateral:active  {
        
        -moz-transform: translate(250px, 0);
            -webkit-transform: translate(100px, 0);
                -o-transform:translate(100px, 0);
                    transform: translate(250px, 0);
        
        padding-right:0;
        }	

       
            
            }
        #menu {
            font-style:italic;
            position:relative;
            font-size:1.0em;
            margin:0em 0 0em -1em;
            padding:0;
            }
        #menu li {padding:0; margin:0;}
        #menu li a,  #menu li a:link {
            font-size:1.2em;
      
            text-decoration: none;
            
            display: block;
            -moz-transition: all 1.2s ease;
                    -webkit-transition: all 1.2s ease;
                        -o-transition: all 1.2s ease;
                            transition: all 1.2s ease;
            }
        #menu li a:hover {
            
            -moz-transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                            transition: all 0.5s ease;
            }
            @media (max-width: 500px) {
               
                #lateral {
                    padding:0;
                    -moz-transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                                transition: all 0.5s ease;
               
    
                    overflow:auto;
         
                    position:static;
                    top:0;
                    left:0;
                    }
                #lateral:before {
                   
                    width:0;
                    text-align:center;
                    content: "";
                    font-size:0;
                   
                    position:static;
                    top:0;
                    left:0;
                    display:inline-block; 
                    }
                #lateral:hover, #lateral:focus {
                  
                    -moz-transform: none;
                        -webkit-transform: none;
                            -o-transform:none;
                                transform:none;
                    }
             
                }
        




                