
a{
    
    
    font-size: 20px; 
    font-style: italic


}

.titulo{
color: rgb(255, 196, 0);
font-size: 40px; 

}

.mensagem{
    font-size: 40px; 
    font-style: italic;
    color:black

   
    
    
}
.footer {
    
    
    bottom:0;
    width:100%;
    font-size: 20px; 
}
.mensagem2{
    text-align: center;
    font-size: 60px; 
    font-style:initial ;
    color:green;
    

   
    
    

}
.linkhtml {
    color:white;
    font-size: 40px; 
    font-style: italic;
    
    
   
    
}
a {
    color:rgb(77, 63, 63);
    font-size: 40px; 
    font-style: italic;
    
}